*
!.gitignore
!*.c
!*.cc
!*.h
!*/
!builds/*
!vice/build/mingw/docker/*
_changes-todo
_changes-todo/*
!vice/src/arch/shared/hwsiddrv/usbsid-driver
!vice/src/arch/shared/hwsiddrv/usbsid-driver/*.cpp
!vice/src/arch/shared/hwsiddrv/usbsid-driver/*.h
